* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav, footer, header, aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

body {
    padding: 100px;
    background: #e8e8e8 url("../img/ellipse_1_copy_4.png") 50% 130px no-repeat;
}

.liveList {
    margin-left: 70px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
    color: #273d46;
    display: inline-block;
}

.liveList li:before {
    content: url("../img/green_check_icon.jpg");
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 30px;
}

.liveList li:nth-child(1) {
    text-decoration: line-through;
    padding-left: 35px;
}

.liveList li:nth-child(2) {
    font-weight: 700;
    padding-left: 35px;
}

.liveList li:nth-child(3) {
    font-style: italic;
    padding-left: 35px;
}

.liveList li:nth-child(4) {
    text-transform: uppercase;
    padding-left: 35px;
}

.liveList li:hover:before {
    content: url("../img/red_check_icon.png");
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 30px;
}

.liveList li:nth-child(1):hover {
    color: #d55a5a;
    padding-left: 35px;
    text-decoration: none;
}

.liveList li:nth-child(2):hover {
    color: #d55a5a;
    padding-left: 35px;
    font-weight: 400;
}

.liveList li:nth-child(3):hover {
    color: #d55a5a;
    padding-left: 35px;
    font-style: normal;
}

.liveList li:nth-child(4):hover {
    color: #d55a5a;
    padding-left: 35px;
    text-transform: none;
}

.liveButton {
    position: relative;
    margin: 100px;
    padding: 0 30px 0 30px ;
    display: inline-block;
    line-height: 44px;
    border-radius: 24px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #80b7b3;
    box-shadow: 0 6px 40px 0 rgba(128,183,179,0.54);
}

.liveButton span {
    color: #ffffff;
}

.liveButton:after {
    content: url("../img/Arrow.png");
    position: absolute;
    margin-top: 2px;
    width: 10px;
    height: 10px;
}

.liveButton:hover {
    background-color: #3a5856;
    box-shadow: 0 6px 40px 0 rgba(128,183,179,0.54);
}

.liveButton:active {
    background-color: #818181;
}

.paragraphs {
    margin: 0 100px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
}

.p1:first-line {
    color: #d55a5a;
}

.p2:first-letter {
    color: #d55a5a;
    font-size: 50px;
}

